.container {
  position: relative;
  width: 1708px;
  height: 902px;
  overflow: auto;
  background-color: #000000;
}

#mainCanvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.content {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.section {
  height: 100%;
  padding-left: 200px;
  padding-top: 300px;
  color: #e7d5d2;
  font-size: 100px;
}

.section2 {
  padding-left: 900px;
}
